@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-blue: #001a25;
  --color-white: #e4e4e4;
  --color-raspberry: #801834;
  --color-raspberrer: #820025;
  --color-orange: #992210;
  --color-oranger: #972b1a;
}

@layer base {
  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */
}

body {
  background-color: var(--color-primary-blue);
  scrollbar-width: thin;
  scrollbar-color: var(--color-raspberry) var(--color-primary-blue);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--color-raspberrer);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-orange);
  cursor: pointer;
}

.navbar-gradient {
  background: linear-gradient(270deg, var(--color-oranger), var(--color-raspberry));
  background-size: 400% 400%;
  -webkit-animation: gradientAnimationX 7s ease infinite;
  -moz-animation: gradientAnimationX 7s ease infinite;
  animation: gradientAnimationX 7s ease infinite;
  transition: 1s ease-in-out;
  margin-top: -50px;
}

.gradient {
  background: linear-gradient(270deg, var(--color-oranger), var(--color-raspberry));
  background-size: 200% 400%;
  -webkit-animation: gradientAnimationX 7s ease infinite;
  -moz-animation: gradientAnimationX 7s ease infinite;
  animation: gradientAnimationX 7s ease infinite;
}

.gradient-slow {
  background: linear-gradient(270deg, var(--color-oranger), var(--color-raspberry));
  background-size: 400% 200%;
  -webkit-animation: gradientAnimationX 7s ease infinite;
  -moz-animation: gradientAnimationX 7s ease infinite;
  animation: gradientAnimationX 7s ease infinite;
}

@-webkit-keyframes gradientAnimationX {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes gradientAnimationX {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes gradientAnimationX {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

@-webkit-keyframes gradientAnimationY {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes gradientAnimationY {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes gradientAnimationY {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.perspective-right {
  transform: perspective(400px) rotateY(5deg);
}

.perspective-left {
  transform: perspective(600px) rotateY(-5deg);
}

.perspective-right-alt {
  transform: perspective(1200px) rotateY(5deg);
  margin-right: -100px;
}

.perspective-left-alt {
  transform: perspective(1200px) rotateY(-5deg);
  margin-left: -100px;
}

@media screen and (max-width: 1280px) {
  .perspective-right {
    transform: perspective(1000px) rotateY(1deg);
  }

  .perspective-left {
    transform: perspective(1200px) rotateY(-1deg);
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 32.5px 0 32.5px;
  margin: auto;
}

.white {
  border-color: var(--color-white) transparent transparent transparent;
}

.orange {
  border-color: #8a2029 transparent transparent transparent;
}

.blue {
  border-color: var(--color-primary-blue) transparent transparent transparent;
}

.cv-blue {
  border-color: var(--color-primary-blue) transparent transparent transparent;
}

.blue-hero {
  border-color: transparent var(--color-white) var(--color-white) var(--color-white);
  margin-top: -20px;
  z-index: 20;
}

.scroll-arrow {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  margin-left: 6px;
}

.scroll-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid var(--color-white);
  border-right: 3px solid var(--color-white);
  transform: rotate(45deg);
  margin: -20px;
  animation: animate 2s infinite;
}

.scroll-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.arrow-top-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
}

.cv-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 18px;
  border-color: transparent transparent transparent var(--color-raspberry);
}

.loader {
  color: var(--color-oranger);
  position: relative;
  font-size: 11px;
  background: var(--color-oranger);
  animation: escaleY 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2em;
  background: var(--color-raspberry);
  width: 1em;
  height: 4em;
  animation: escaleY 1s infinite ease-in-out;
}
.loader:before {
  left: -2em;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
    background: var(--color-oranger);
  }
}

::selection {
  background-color: var(--color-raspberry);
}

li::marker {
  padding-right: 10px;
}

@keyframes danger-pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.danger-animation {
  animation: danger-pulse 2s infinite;
  color: #ffdd44;
}
